/* Global design tokens */
:root {
}

/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-variation-settings: "wdth" 100;
  background-color: #F2F2F2;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


