/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  direction: rtl;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



