<div class="blog-list-page">

  <div *ngIf="isLoading" class="page-loading">
    <div class="spinner"></div>
  </div>

  <div *ngIf="loadFailed" class="page-error">
    <p>{{ 'blog.load_failed' | translate }}</p>
  </div>

  <div *ngIf="hasError && !loadFailed" class="page-error">
    <p>{{ 'blog.no_content' | translate }}</p>
  </div>

  <ng-container *ngIf="!isLoading && !hasError && !loadFailed">
    <div class="news-content">
      <div class="managed-grid" *ngIf="managedArticles.length > 0">
        <div
          class="managed-row"
          *ngFor="let row of getManagedRows()"
          [ngStyle]="{'grid-template-columns': row.gridCols}">
          <div class="managed-cell" *ngFor="let slot of row.slots">
            <app-news-banner *ngIf="managedArticles[slot]" [article]="managedArticles[slot]"></app-news-banner>
            <div *ngIf="!managedArticles[slot]" class="cell-skeleton"></div>
          </div>
        </div>
      </div>

      <div class="stream-grid">
        <div
          class="stream-row"
          *ngFor="let row of getStreamRows()"
          [ngStyle]="{'grid-template-columns': row.gridCols}">
          <div class="stream-cell" *ngFor="let article of row.articles">
            <app-news-banner [article]="article"></app-news-banner>
          </div>
        </div>
      </div>

      <div #sentinel class="sentinel"></div>

      <div *ngIf="isLoadingMore" class="loading-more">
        <div class="spinner"></div>
      </div>
    </div>
  </ng-container>

</div>
