<div class="blog-list-page">

  <div *ngIf="isLoading" class="page-loading">
    <div class="spinner"></div>
  </div>

  <div *ngIf="loadFailed" class="page-error">
    <p>{{ 'blog.load_failed' | translate }}</p>
  </div>

  <div *ngIf="hasError && !loadFailed" class="page-error">
    <p>{{ 'blog.no_content' | translate }}</p>
  </div>

  <ng-container *ngIf="!isLoading && !hasError && !loadFailed">
    <div class="news-content">
      <div class="managed-grid" *ngIf="managedArticles.length > 0">
        <div
          *ngFor="let slot of managedSlots"
          class="managed-cell"
          [ngClass]="'mc-' + (slot + 1)">
          <app-news-banner *ngIf="managedArticles[slot]" [article]="managedArticles[slot]"></app-news-banner>
          <div *ngIf="!managedArticles[slot]" class="cell-skeleton"></div>
        </div>
      </div>

      <div class="stream-grid">
        <ng-container *ngFor="let article of streamArticles; let i = index">
          <div class="stream-cell" [ngClass]="getCellClass(i)">
            <app-news-banner [article]="article"></app-news-banner>
          </div>
        </ng-container>
      </div>

      <div #sentinel class="sentinel"></div>

      <div *ngIf="isLoadingMore" class="loading-more">
        <div class="spinner"></div>
      </div>
    </div>
  </ng-container>

</div>
