<div class="music-news-page">

  <div *ngIf="isLoading" class="page-loading">
    <div class="spinner"></div>
  </div>

  <div *ngIf="loadFailed" class="page-error">
    <p>{{ 'news.load_failed' | translate }}</p>
  </div>

  <div *ngIf="hasError && !loadFailed" class="page-error">
    <p>{{ 'news.no_content' | translate }}</p>
  </div>

  <ng-container *ngIf="!isLoading && !hasError && !loadFailed">
    <div class="news-content">
      <div class="managed-grid">
        <div
          class="managed-row"
          *ngFor="let row of getManagedRows(); trackBy: trackByIndex"
          [ngStyle]="{'grid-template-columns': row.gridCols}">
          <div class="managed-cell" *ngFor="let slot of row.slots; let cellIndex = index; trackBy: trackByIndex">
            <app-news-banner
              *ngIf="getManagedArticle(slot)"
              [article]="getManagedArticle(slot)!"
              [imagePreset]="960"
              [imageWidths]="[480, 960, 1600]"
              [imageSizes]="gridImageSizes(row.gridCols, cellIndex)"
              [imageLoading]="slot === 0 ? 'eager' : 'lazy'"
              [imageFetchPriority]="slot === 0 ? 'high' : 'auto'">
            </app-news-banner>
            <div *ngIf="!getManagedArticle(slot)" class="cell-skeleton"></div>
          </div>
        </div>
      </div>

      <div class="stream-grid">
        <div
          class="stream-row"
          *ngFor="let row of getStreamRows(); trackBy: trackByIndex"
          [ngStyle]="{'grid-template-columns': row.gridCols}">
          <div
            class="stream-cell"
            *ngFor="let article of row.articles; let cellIndex = index; trackBy: trackById">
            <app-news-banner
              [article]="article"
              [imagePreset]="960"
              [imageWidths]="[480, 960, 1600]"
              [imageSizes]="gridImageSizes(row.gridCols, cellIndex)">
            </app-news-banner>
          </div>
        </div>
      </div>

      <div #sentinel class="sentinel"></div>

      <div *ngIf="isLoadingMore" class="loading-more">
        <div class="spinner"></div>
      </div>
    </div>
  </ng-container>

</div>
