<a [routerLink]="getProfileRouterLink()" class="uploader-badge" [class.uploader-badge--static]="!getProfileRouterLink()">
  <div class="uploader-avatar" [class]="getAvatarClass()">
    <img
      *ngIf="profile.imageUrl; else initials"
      [src]="profile.imageUrl | cfImage:'profile'"
      [alt]="profile.name"
      class="uploader-img"
      loading="lazy"
      decoding="async"
    />
    <ng-template #initials>
      <span class="uploader-initials">{{ profile.name.charAt(0) }}</span>
    </ng-template>
  </div>
  <div class="uploader-text">
    <span class="uploader-prefix">{{ getPrefixText() }}</span>
    <span class="uploader-name">{{ profile.name }}</span>
  </div>
</a>
